<div class="text-center">

<p id="notice"><%= notice %></p>

<h1>Adjuncts</h1>

<table class="table text-center table-bordered ">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>File</th>
      <th>Request</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @adjuncts.each do |adjunct| %>
      <tr>
        <td><%= adjunct.nombre %></td>
        <td><%= adjunct.descripcion %></td>
        <td><%= adjunct.file %></td>
        <td><%= adjunct.request %></td>
        <td><button class="btn btn-info"><%= link_to 'Show', adjunct %></button>
        <button class="btn btn-success"><%= link_to 'Edit', edit_adjunct_path(request) %></button>
        <button class="btn btn-danger"><%= link_to 'Destroy', adjunct, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adjunct', new_adjunct_path %>
</div>