<p id="notice"><%= notice %></p>

<h1>Adjuncts</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>File</th>
      <th>Request</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adjuncts.each do |adjunct| %>
      <tr>
        <td><%= adjunct.nombre %></td>
        <td><%= adjunct.descripcion %></td>
        <td><%= adjunct.file %></td>
        <td><%= adjunct.request %></td>
        <td><%= link_to 'Show', adjunct %></td>
        <td><%= link_to 'Edit', edit_adjunct_path(adjunct) %></td>
        <td><%= link_to 'Destroy', adjunct, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adjunct', new_adjunct_path %>
