<html>

	<head>
	<title></title>
	
	</head>
	<body>
	<div class="contenedor">
    <ul>
  <li><a class="navbar-brand">Administrador</a></li>
  <li><%= link_to "Usuarios","../usuarios/index",method: :post %></li>
  <li><%= link_to "Solicitudes","../requests/index",method: :post %></li>
  <li><%= link_to "Rol","../rols/index",method: :post %></li>
  <li><%= link_to "Adjuntos","../adjuncts/index",method: :post %></li>
  <li><%= link_to "Parametros","../parameters/index",method: :post %></li>
	</ul>
    
 
  </div>
		
	</body>
	
</html>
