
<html>

	<head>
	<title></title>
	
	</head>
	<body>
	<div class="contenedor">
    <ul>
  <li><a class="navbar-brand">Usuario</a></li>
  <li><%= link_to "Notificaciones","../usuarios/index",method: :post %></li>
  <li><%= link_to "PQR","requests/index",method: :post %></li>
  <li><%= link_to "","../rols/index",method: :post %></li>
  <li><%= link_to "","../adjuncts/index",method: :post %></li>
  <li><%= link_to "","../parameters/index",method: :post %></li>
	</ul>
    
  </div>
		
	</body>
	
</html>

		
  
