<% if user_signed_in? %>

<% if current_user.id == 1 %>
	<div class="contenedor">
      <ul>
	    <li><a class="navbar-brand">Administrador</a></li>
	    <li><%= link_to "Usuarios","../usuarios/index",method: :post %></li>
	    <li><%= link_to "Solicitudes","../requests/index",method: :post %></li>
	    <li><%= link_to "Rol","../rols/index",method: :post %></li>
	    <li><%= link_to "Adjuntos","../adjuncts/index",method: :post %></li>
	    <li><%= link_to "Parametros","../parameters/index",method: :post %></li>
	  </ul>
    </div>

<% end %>  	

	<% if current_user.id == 2 %>
	<div class="contenedor">
    <ul>
  <li><a class="navbar-brand">Usuario</a></li>
  <li><%= link_to "Notificaciones","../usuarios/index",method: :post %></li>
  <li><%= link_to "PQR","requests/index",method: :post %></li>
  <li><%= link_to "","../rols/index",method: :post %></li>
  <li><%= link_to "","../adjuncts/index",method: :post %></li>
  <li><%= link_to "","../parameters/index",method: :post %></li>
	</ul>
    
  </div>
	<% end %>			
		

<% else %>
<div>

</div>
<%end%>