<div class="text-center">
  <p id="notice"><%= notice %></p>

  <h1>Requests</h1>

  <table class="table text-center table-bordered ">

    <thead>
      <tr>
        <th>Descripcion</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Reasignado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @requests.each do |request| %>
      <tr>
        <td><%= request.descripcion %></td>
        <td><%= request.fecha %></td>
        <td><%= request.hora %></td>
        <td><%= request.reasignado %></td>
        <td><button class="btn btn-info"><%= link_to 'Show', request %></button>
        <button class="btn btn-success"><%= link_to 'Edit', edit_request_path(request) %></button>
        <button class="btn btn-danger"><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Request', new_request_path %>
</div>
