<% if user_signed_in? %>
		<h2>Bienvenido <%= current_user.email %></h2>
		
		<div id="intro">
			<div class="group_bannner_right">
		   		<hgroup>
	   				<ul class="list-group">
		   				<li class="list-group-item"> Nombre: <%= current_user.email %></li>
		   				<li class="list-group-item">  </li>
		   			</ul>
		   		</hgroup>
   			</div>	
           
	   		<header class="group_bannner_left">
	   			<hgroup>
	   				<ul class="list-group">
		  			  <li class="list-group-item"><%= link_to 'Roles', roles_path %></li>
					  <li class="list-group-item"><%= link_to 'Permisos', permissions_path %></li> 
					  <li class="list-group-item"><%= link_to 'Empleados', usuarios_path %></li> 
					  <li class="list-group-item"><%= link_to 'Solicitudes de PQRS', requests_path %></li> 
					</ul> 
	   			</hgroup>
	   		</header>
   		</div>
<%end%>