<div class="text-center">

<p id="notice"><%= notice %></p>

<h1>Usuarios</h1>

<table class="table text-center table-bordered ">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Direccion</th>
      <th>Email</th>
      <th>Cedula</th>
      <th>User</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.apellido %></td>
        <td><%= usuario.telefono %></td>
        <td><%= usuario.direccion %></td>
        <td><%= usuario.email %></td>
        <td><%= usuario.cedula %></td>
        <td><%= usuario.user %></td>
        <td><button class="btn btn-info"><%= link_to 'Show', usuario %></button>
        <button class="btn btn-success"><%= link_to 'Edit', edit_usuario_path(request) %></button>
        <button class="btn btn-danger"><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usuario', new_usuario_path %>
</div>