<div class="text-center">
<p id="notice"><%= notice %></p>

<h1>Parameters</h1>

<table class="table text-center table-bordered ">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Tiemporespuesta</th>
      <th>Medio</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @parameters.each do |parameter| %>
      <tr>
        <td><%= parameter.nombre %></td>
        <td><%= parameter.descripcion %></td>
        <td><%= parameter.tiemporespuesta %></td>
        <td><%= parameter.medio %></td>
        <td><button class="btn btn-info"><%= link_to 'Show', parameter %></button>
        <button class="btn btn-success"><%= link_to 'Edit', edit_parameter_path(request) %></button>
        <button class="btn btn-danger"><%= link_to 'Destroy', parameter, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parameter', new_parameter_path %>
</div>